@font-face {
  font-family: 'Matrix Code NFI';
  src: url('./fonts/matrix code nfi.ttf') format('truetype');
}

body {
  font-family: 'Matrix Code NFI', sans-serif;
  color: #00FF41;
  line-height: 1.6;
  background-color: #000000;
  text-shadow: 0 0 3px #00FF41, 0 0 5px #00FF41, 0 0 5px #00FF41;
  filter: blur(0.02rem);
}

.landing,
.container,
input,
select,
#output,
#reportContainer {
  color: #00FF41;
  background-color: rgba(0, 0, 0, 0.7);
  /* semi-transparent black for depth */
  border-color: #00FF41;
}

.landing h1,
.landing p,
.btn-primary,
.btn-secondary,
footer,
.agent_question,
.agent_response {
  /* ensure all text respects the theme */
  color: #00FF41;
  text-shadow: 0 0 3px #00FF41;
}

.btn-primary,
.btn-secondary {
  background: linear-gradient(to right, #005a2f, #006831);
  border: none;
}

footer {
  background: #000000;
  /* pure black background */
}

#output,
#reportContainer {
  font-family: 'Matrix Code NFI', monospace;
}
